main.main

	//- Page article
	article.article
		h1.article__title
			| An Exciting Blog Post
		img.article__feature(src="images/balloon-sq6.jpg" alt="placeholder")
		+articleText

	//- Photography block
	aside.aside
		h2.aside__title
			| Photography
		+photos-block