//- Menu items in .menu__list (top-elements.pug)
-
	const menu__list = [
		{ element: 'Home' },
		{ element: 'Blog', 
			submenu: [ 
				{ element: 'Work', subItem: true },
				{ element: 'Chill', subItem: true },
				{ element: 'Off top', subItem: true } 
			]
		},
		{ element: 'About Us' },
		{ element: 'Our history' },
		{ element: 'Contacts' }
	];


//- Article text in .article (main.pug)
-
	const articleItems = [
		'Veggies es bonus vobis, proinde vos postulo essum\
		magis kohlrabi welsh onion daikon amaranth tatsoi\
		tomatillo melon azuki bean garlic.',

		'Gumbo beet greens corn soko endive gumbo gourd. Parsley\
		shallot courgette tatsoi pea sprouts fava bean collard\
		greens dandelion okra wakame tomato. Dandelion cucumber\
		earthnut pea peanut soko zucchini.',

		'Turnip greens yarrow ricebean rutabaga endive cauliflower sea\
		lettuce kohlrabi amaranth water spinach avocado daikon napa\
		cabbage asparagus winter purslane kale. Celery potato scallion\
		desert raisin horseradish spinach carrot soko. Lotus root water\
		spinach fennel kombu maize bamboo shoot green bean swiss chard\
		seakale pumpkin onion chickpea gram corn pea. Brussels sprout\
		coriander water chestnut gourd swiss chard wakame kohlrabi beetroot\
		carrot watercress. Corn amaranth salsify bunya nuts nori azuki\
		bean chickweed potato bell pepper artichoke.',

		'Nori grape silver beet broccoli kombu beet greens fava bean potato\
		quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil\
		turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant\
		winter purslane fennel azuki bean earthnut pea sierra leone bologi\
		leek soko chicory celtuce parsley jícama salsify.',

		'Celery quandong swiss chard chicory earthnut pea potato. Salsify\
		taro catsear garlic gram celery bitterleaf wattle seed collard\
		greens nori. Grape wattle seed kombu beetroot horseradish carrot\
		squash brussels sprout char'
	];

//- Array of aside block images sources (main.pug)
-
	const imgSource = [
		'images/balloon-sq1.jpg',
		'images/balloon-sq2.jpg',
		'images/balloon-sq3.jpg',
		'images/balloon-sq4.jpg',
		'images/balloon-sq5.jpg'
	];