.top-elements
	//- Navigation block
	nav.menu.top-elements__menu
		//- Menu button (mobile version)
		button.menu__button(type="button" aria-expanded="false" aria-controls="menu__list")
			svg.menu__glyph(viewBox="0 0 30 30" stroke="#000" aria-hidden="true")
				g(stroke-width="3" stroke-linecap="butt")
					path.menu__glyph-line.menu__glyph-line--top(d="M 2 6 l26 0")
					path.menu__glyph-line.menu__glyph-line--midlle(d="M 2 15 l26 0")
					path.menu__glyph-line.menu__glyph-line--bottom(d="M 2 24 l26 0")

		//- Menu items
		- const menu__list = [{element: 'Home'}, {element: 'Blog', submenu: [{element: 'Work', subItem: true}, {element: 'Chill', subItem: true}, {element: 'Off top', subItem: true}]}, {element: 'About Us'}, {element: 'Our history'}, {element: 'Contacts'}];
		//- Generate nested list with menu__list object items
		mixin menu(listData, listBlock, listId)
			ul(class= listBlock + 'list' id= listId)
				each item in listData
					li(class= listBlock + 'item')
						a(href="#" class= 'menu__link' + (item.submenu ? ' menu__link--submenu-container' : '') + (item.subItem ? ' menu__link--submenu' : '') title= item.element) #{item.element}
						if (item.submenu)
							+menu(item.submenu, 'menu__submenu-')
		+menu(menu__list, 'menu__', 'menu__list')

	//- Site theme toggle
	.theme-toggle.top-elements__theme-toggle
		input.theme-toggle__input(type="checkbox" role="switch" id="toggle")
		label.theme-toggle__label(for="toggle")
			span.theme-toggle__span.theme-toggle__span--on Dark
			span.theme-toggle__span.theme-toggle__span--off Light

		//- Theme toggle and mobile button scripts load after HTML parsed theme toggle.
		script(src="js/main.min.js")