include include/data
include include/mixins

doctype html
html(lang="en")
	head
		title
			| Layout Task v2
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, inital-scale=1")
		meta(name="color-scheme" content="")
		meta(name="theme-color" content="")
		//- Page will display after theme toggle script load
		script.
			document.documentElement.style.display = 'none'; 
		link(rel="stylesheet" href="css/styles.min.css")
	body.body--theme-dark
		block index-page