include include/data
include include/mixins

doctype html
html(lang="en")
	include include/head
	body.body--theme-dark
		include include/header
		//- main.js loading in include/top-elements block
		include include/top-elements
		include include/main