/* Light theme with light theme Postcss Custom Properties fallback */
:root { 
	--colorBg: #fff;
	--colorBody: #333;
	--colorNav: #000;
	--colorNavSubMenu: rgba(0,0,0,.9);
	--colorNavLink: #fff;
	--image-filter: none;
	--theme: light;
}

/* Dark theme */
.body--theme-dark {
	--colorBg: #333333;
	--colorBody: #E8E8E8;
	--colorNav: #121212;
	--colorNavSubMenu: rgba(18,18,18,.9);
	--colorNavLink: #F0F0F0;
	--image-filter: grayscale(30%);
	--theme: dark;
}
